@font-face {
  font-display: swap;
  font-family: 'Beer-Money';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/beer-money/400.woff2') format('woff2'),
  url('@/assets/fonts/beer-money/400.woff') format('woff')
}

@font-face {
  font-display: swap;
  font-family: 'Damn';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/damn/400.woff2') format('woff2'),
  url('@/assets/fonts/damn/400.woff') format('woff')
}