* {
  padding: 0px;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  height: 100%;
  min-height: 100vh;
  line-height: $l-height;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}
button {
  font-family: inherit;
}
ol, ul {
  padding: 0;
  list-style: none;
}

input, select {
  color: $c-green;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  //transition: color @duration;
}

button, input {
  box-shadow: none;
  background: none;
  &:focus, &:active {
    outline: none;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

label {
  cursor: pointer;
}

textarea {
  resize: none;
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text']::-ms-clear,
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  //border: none!important;
  //-webkit-text-fill-color: $c-green!important;
  //-webkit-box-shadow: 0 0 0px 1000px white inset!important;
  //transition: background-color 5000s ease-in-out 0s!important;
}

button, a, label {
  &:focus, &:focus-visible {outline:0;}
}