/*
* standard setting
*/
@import "@scss/base/reset.scss";
@import "@scss/base/base.scss";
@import "@scss/base/fonts.scss";
@import "@scss/base/grid.scss";
/*
* ui elements
*/
@import "@scss/ui/title";
@import "@scss/ui/btn";
@import "@scss/ui/input-inner";
@import "@scss/ui/slider";
@import "@scss/ui/modal";
@import "@scss/ui/animation";
/*
* layout elements
*/
@import "@scss/layouts/header";
@import "@scss/layouts/footer";
/*
* components
*/
@import "@scss/components/welcome";
@import "@scss/components/honesty";
@import "@scss/components/callback";
@import "@scss/components/contacts";
@import "@scss/components/footer-bottom";
@import "@scss/components/working-conditions";
@import "@scss/components/wave-inner";
@import "@scss/components/delivery";
@import "@scss/components/taste";
@import "@scss/components/product-info";
@import "@scss/components/modals/burger";

.home {
  &__honesty {
    &._first {
      margin-bottom: 4.5rem;
    }
  }
  &__delivery {
    margin-bottom: 5.5rem;
  }
}

@media (min-width: $md) {
  .home {
    &__honesty {
      &._first {
        margin-top: -5rem;
        margin-bottom: 24.1rem;
      }
      &._second {
        margin-bottom: 13rem;
      }
    }
    &__taste {
      margin-bottom: 14.7rem;
    }
    &__delivery {
      margin-bottom: 25rem;
    }
    &__working-conditions {
      margin-bottom: 8.3rem;
    }
  }
}

.circle-text {
  width: 10rem;
  height: 10rem;
  font-family: 'Damn', sans-serif;
}