/*
* standard setting
*/
@import "@scss/base/reset.scss";
@import "@scss/base/base.scss";
@import "@scss/base/fonts.scss";
@import "@scss/base/grid.scss";
/*
* ui elements
*/
@import "@scss/ui/title";
@import "@scss/ui/btn";
@import "@scss/ui/input-inner";
/*
* layout elements
*/
@import "@scss/layouts/header";
@import "@scss/layouts/footer";
/*
* components
*/
@import "@scss/components/welcome";
@import "@scss/components/honesty";
@import "@scss/components/callback";
@import "@scss/components/contacts";
@import "@scss/components/footer-bottom";