.delivery {
  position: relative;
  color: $c-white;
  &__wave-inner {
    .wave-inner__icon {
      transform: translate(-15%, 2rem);
    }
    &._reverse {
      .wave-inner__icon {
        transform: translate(-30%, 2rem);
      }
    }
  }
  &__title {
    margin-bottom: 1.5rem;
    .title__subtitle {
      color: $c-yellow;
    }
  }
  &__text {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }
  &__wrapper {
    padding-bottom: 10.4rem;
    background: $c-green;
  }
  &__btn {
    width: 15.1rem;
    margin-left: auto;
    color: $c-white;
  }
  .box-animation {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    z-index: 1;
    &__inner {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      &:not(._box) {
        transform: translateX(-40%);
      }
      &._box {
        top: inherit;
        bottom: 0;
        //left: inherit;
        //right: 0;
        transform: translateX(40%);
        .box-animation__img {
          height: auto;
        }
      }
    }
    &__img {
      flex-shrink: 0;
      width: 9rem;
      height: 7rem;
      object-fit: cover;
    }
  }
}

@media (min-width: $sm) {
  .delivery {
    .box-animation {
      &__inner {
        transform: translateX(-40%);
        &._box {
          transform: translateX(60%);
        }
      }
    }
  }
}

@media (min-width: $md) {
  .delivery {
    &__wave-inner {
      --height-wave: 27.3rem;
      margin-bottom: -6rem;
      .wave-inner__icon {
        transform: translate(-2%, 2rem);
      }
      &._reverse {
        --height-wave: 27.7rem;
        .wave-inner__icon {
          transform: translate(-20%, 6rem);
        }
      }
    }
    &__title {
      margin-bottom: 4rem;
    }
    &__wrapper {
      padding-bottom: 27.4rem;
    }
    &__text {
      width: 106.9rem;
      font-size: 2.6rem;
    }
    &__btn {
      width: 22rem;
      height: 8.1rem;
      border: 1px solid $c-white;
      font-size: 4rem;
    }
    .box-animation {
      bottom: 10rem;
      height: 35rem;
      &__inner {
        &._box {
          left: inherit;
          right: 0;
          display: flex;
          margin-right: -5rem;
          .box-animation__img {
            width: 13.2rem;
            height: 11.9rem;
            margin-right: 5rem;
          }
        }
      }
      &__img {
        width: 19.6rem;
        height: 13.3rem;
      }
    }
  }
}