.honesty {
  font-size: 1.6rem;
  overflow: hidden;
  &._first {
    .honesty {
      &__bg {
        height: calc(100% + 5.2rem);
        transform: translateY(-5rem);
      }
    }
    ._reverse {
      .honesty {
        &__bg {
          height: calc(100% + 2.1rem);
          transform: translate(-0.2rem, -1rem);
        }
      }
    }
  }
  &._second {
    ._reverse {
      .honesty {
        &__bg {
          height: 100%;
        }
      }
    }
  }
  &._third {
    .honesty {
      &__img-wrapper {
        width: 30rem;
        height: 25rem;
        margin: 0 auto;
      }
      &__img {
        top: 8%;
        transform: translateX(-45%) scale(1.2);
        &._short {
          top: inherit;
          bottom: 1%;
          right: -6%;
          width: 38%;
          height: 38%;
          transform: translate(0, 0) scale(1) rotate(-20deg);
        }
      }
    }
    ._reverse {
      .honesty {
        &__img {
          top: 6%;
          transform: translateX(-50%);
          &._short {
            top: 1%;
            left: 9%;
            right: inherit;
            bottom: inherit;
            width: 45%;
            height: 42%;
            transform: translate(0, 0) scale(1) rotate(-46deg);
          }
        }
      }
    }
  }
  &__images {
    position: relative;
    width: 30rem;
    height: 25rem;
  }
  &__btn {
    width: 15.1rem;
    margin-left: auto;
  }
  &__play-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.6rem;
    height: 3.8rem;
    border: 2px solid $c-white;
    background: rgba($c-gray-2, 0.3);
    border-radius: 0.9rem;
  }
  &__play-icon {
    width: 2.5rem;
    height: 2.5rem;
    color: $c-white;
  }
  &__inner {
    position: relative;
    margin-bottom: 2rem;
    z-index: 1;
  }
  &__img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  &__img, &__bg {
    top: 0;
    position: absolute;
  }
  &__img {
    width: 100%;
    height: 100%;
    left: 50%;
    object-fit: contain;
    margin: 0 auto;
    transform: translateX(-50%);
  }
  &__bg {
    height: 101%;
    width: 101%;
    object-fit: contain;
    background-repeat: no-repeat;
  }
  &__box {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: $md) {
  .honesty {
    font-size: 3rem;
    &._first {
      .honesty {
        &__img-wrapper {
          width: 73.5rem;
          height: 70.4rem;
        }
        &__img {
          width: 67.7rem;
          height: 48.3rem;
        }
        &__bg {
          height: 100%;
          transform: translate(-50%, -60%);
        }
      }
      ._reverse {
        margin-top: -45rem;
        .honesty {
          &__img-wrapper {
            width: 59.8rem;
            height: 53.2rem;
          }
          &__img {
            width: 51.3rem;
            height: 40.3rem;
          }
          &__bg {
            height: 75%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    &._second {
      .honesty {
        &__img-wrapper {
          width: 62.4rem;
          height: 64.2rem;
          margin-top: -30%;
        }
        &__img {
          width: 50.8rem;
          height: 51.9rem;
          transform: translate(-47%, -46%) rotate(-15deg) scale(1.5);
        }
        &__play-btn {
          transform: rotate(15deg);
          opacity: 0;
        }
      }
      ._reverse {
        align-items: center;
        margin-top: -20rem;
        .honesty {
          &__img-wrapper {
            width: 47.3rem;
            height: 41.1rem;
            margin-top: -10%;
          }
          &__play-btn {
            opacity: 0;
          }
          &__img {
            width: 45.2rem;
            height: 35.7rem;
          }
          &__bg {
            width: 101%;
            height: 101%;
          }
        }
      }
    }
    &._third {
      .honesty {
        &__img-wrapper {
          width: 70.6rem;
          height: 70.1rem;
          margin-top: -30%;
        }
        &__img {
          top: 10%;
          transform: translateX(-49%) scale(1);
        }
        &__title {
          margin-bottom: 12.1rem;
        }
      }
      ._reverse {
        align-items: center;
        margin-top: -10%;
        .honesty {
          &__img-wrapper {
            width: 63rem;
            height: 68.9rem;
          }
        }
      }
    }
    &__box {
      display: grid;
      grid-template-columns: 63.6rem 1fr;
      margin-bottom: 10rem;
      &._reverse {
        grid-template-columns: 1fr 63.6rem;
        align-items: end;
        & > * {
          &:nth-child(odd) {
            grid-row: 1;
          }
          &:nth-last-child(-n + 2) {
            grid-column: 2;
          }
          &:nth-last-child(-n + 1) {
            grid-column: 1;
          }
        }
      }
    }
    &__play-btn {
      width: 10.6rem;
      height: 5.8rem;
    }
    &__play-icon {
      width: 3.5rem;
      height: 3.5rem;
    }
    &__inner {
      position: relative;
      margin-bottom: 0;
      z-index: 2;
    }
    &__img-wrapper {
      position: relative;
      padding-bottom: 0;
      z-index: 1;
    }
    &__play-btn {
      cursor: pointer;
    }
    &__img, &__bg {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__title {
      margin-bottom: 12.3rem;
    }
  }
}