.taste {
  &__title {
    margin-bottom: 1.5rem;
    .title__subtitle {
      text-align: left;
    }
  }
  &__box {
    margin-bottom: 3rem;
  }
  &__text {
    margin-bottom: 0.5rem;
  }
  &__btn {
    margin-left: auto;
  }
  &__tabs {
    margin-bottom: 2rem;
  }
  &__slide {
    background: $c-white-2;
    .swiper-slide-active {
      opacity: 1;
    }
  }
  &__product-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__tools {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 5rem;
    width: fit-content;
    margin: 0 auto;
  }
  &__btn-arrow {
    &._prev {
      transform: scale(-1, 1);
    }
  }
  &__arrow-icon {
    width: 3.2rem;
    height: 2.2rem;
  }
  .taste-tabs {
    &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      width: fit-content;
      margin: 0 auto 1.5rem auto;
    }
    &__btn {
      font-size: 2rem;
      opacity: 0.6;
      text-transform: uppercase;
      transition-duration: $duration;
      transition-property: opacity;
      &._active {
        opacity: 1;
        pointer-events: none;
      }
    }
    &__list {
      display: none;
      &._active {
        display: flex;
      }
    }
    &__item {

    }
  }
  .list-storage {
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -2rem;
    margin-bottom: -1rem;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      margin-right: 2rem;
      margin-bottom: 1rem;
      padding: 0 1.8rem;
      font-size: 1.6rem;
      border: 2px solid $c-yellow;
      border-radius: 8rem;
    }
  }
}

@media (min-width: $md) {
  .taste {
    &__title {
      width: 100%;
      margin-bottom: 7.8rem;
      .title__subtitle {
        padding-left: 4rem;
        margin-top: -7.5rem;
      }
    }
    &__arrow-icon {
      width: 4.2rem;
      height: 3.2rem;
    }
    &__tools {
      column-gap: 11.1rem;
    }
    &__text {
      font-size: 2.6rem;
    }
    &__box {
      width: 64.3rem;
      margin-bottom: 4.6rem;
    }
    &__btn {
      width: 15.1rem;
      transform: translateX(3.5rem);
    }
    &__slide {
      .product-info__img {
        transition-duration: $duration-long;
        transition-property: transform, opacity;
        opacity: 0;
      }
      &._animation-top {
        .product-info__img {
          transform: translate(-60%, -60%);
        }
      }
      &._animation-right {
        .product-info__img {
          transform: translate(-40%, -60%);
        }
      }
      &._animation-bottom {
        .product-info__img {
          transform: translate(-60%, -40%);
        }
      }
      &.swiper-slide-active {
        .product-info__img {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
    .list-storage {
      display: flex;
      justify-content: flex-start;
      margin-right: -3.2rem;
      margin-bottom: -4rem;
      &__item {
        height: 7.3rem;
        margin-right: 3.2rem;
        margin-bottom: 4rem;
        padding: 0 1.8rem;
        font-size: 3.6rem;
      }
    }
  }
}