$f-family: 'Beer-Money', sans-serif;

$f-root-size: 10px;
$f-root-size-middle: 8px;

$l-height: 1.308;
$l-height-medium: 1.466667;
$f-size: 1.6rem;

$duration: 0.3s;
$duration-long: 0.6s;
$duration-short: 0.15s;

$xxxl: 1680px;
$xxl: 1540px;
$xl: 1330px;
$lg: 1170px;
$md: 1024px;
$sm: 720px;
$xs: 425px;
$xxs: 375px;

$breakpoints: (
  xl: $xl,
  lg: $lg,
  md: $md,
  sm: $sm,
  xs: $xs,
  xxs: $xxs
);

$c-white: #ffffff;
$c-white-2: #F8F8F3;
$c-yellow: #FBD26A;
$c-green: #2F3924;
$c-green-2: rgba($c-white, 0.3);
$c-gray: #999;
$c-gray-2: #363948;