.footer {
  &__top {
    position: relative;
  }
  &__wrapper {
    position: relative;
    background: $c-green;
    overflow: hidden;
  }
  &__bottom {
    margin-top: -2rem;
  }
  &__title {
    margin-bottom: 4rem;
    .title__subtitle {
      color: $c-white-2;
    }
  }
  &__callback {
    margin-bottom: 3rem;
  }
  &__contacts {
    margin-bottom: 12rem;
  }
  &__img-bg {
    position: absolute;
    bottom: -11rem;
    right: -8rem;
    width: 35rem;
    height: 29rem;
    object-fit: contain;
  }
  &__footer-bottom {
    margin-bottom: 4rem;
  }
  &__box {
    position: relative;
    display: grid;
    row-gap: 4rem;
    padding: 3rem 0;
    font-family: 'Leto', sans-serif;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -2rem;
      width: calc(100% + 4rem);
      height: 1px;
      background: $c-green;
    }
  }
  &__list {
    display: grid;
    row-gap: 0.5rem;
  }
  &__link-root {
    font-size: 1.6rem;
    color: rgba($c-gray, 0.5);
  }
  &__root {
    font-size: 1.2rem;
    color: rgba($c-green, 0.5);
  }
}

@media (min-width: $md) {
  .footer {
    &__wrapper {
      padding-top: 23.7rem;
    }
    &__wave-inner {
      &._top {
        .footer__wave-top {
          height: 27.3rem;
          transform: translate(-5%, 2rem);
        }
      }
      &._bottom {
        transform: scale(-1, -1);
        .footer__wave-top {
          height: 17.5rem;
          transform: translate(-20%, 2rem);
        }
      }
    }
    &__img-bg {
      bottom: -25%;
      right: -14%;
      width: 116.1rem;
      height: 96.5rem;
    }
    &__contacts {
      margin-bottom: 12.7rem;
    }
    &__callback {
      margin-bottom: 4.2rem;
    }
    &__title {
      margin-bottom: 10.7rem;
    }
    &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.2rem 0 3.8rem 0;
      &:before {
        left: 0;
        width: 100%;
      }
    }
    &__wave-inner {
      &._top {
        --height-wave: 27.3rem;
        .wave-inner__icon {
          transform: translate(-10%, 2rem);
        }
      }
      &._reverse {
        --height-wave: 17.5rem;
        .wave-inner__icon {
          transform: translate(-20%, 2rem);
        }
      }
    }
  }
}